@model Archery.Models.Weapon

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression d'un Arc</h2>

<h3>Etes-vous sûrs de vouloir supprimer un Arc?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            <br />
            <br />
            <br />
            @Html.ActionLink("Retour à la liste des Arcs", "Index")
        </div>
    }
</div>
