
@{
    Layout = null;
    //this.Output.WriteLine("<h1>test</h1>");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*commentaire razor - il n'envoie pas au client*@
    <h1>Bonjour!</h1>
    <div>
    </div>
</body>
</html>
